*.log
*.wav
*.mp3
*.srt
*.tar
*.7z
*.zip
*.exe
pretrained_models/FireRedASR-LLM-L/model.pth.tar
pretrained_models/FireRedASR-LLM-L/Qwen2-7B-Instruct/model-00001-of-00004.safetensors
pretrained_models/FireRedASR-LLM-L/Qwen2-7B-Instruct/model-00002-of-00004.safetensors
pretrained_models/FireRedASR-LLM-L/Qwen2-7B-Instruct/model-00003-of-00004.safetensors
pretrained_models/FireRedASR-LLM-L/Qwen2-7B-Instruct/model-00004-of-00004.safetensors
pretrained_models/FireRedASR-AED-L/model.pth.tar
.git
.github
.idea
1.txt
cli.py

static/tmp
runtime
ffmpeg
venv
dist
source
build
test.py
__pycache__
*.spec
*.ui
*.bak
*.aac